{{#nodecollection}}
  {{#children}}
    {{> theme_albe/navbar_menu}}
  {{/children}}
{{/nodecollection}}
{{#nodearray}}
    {{> theme_albe/navbar_menu}}
{{/nodearray}}

<div slot="menu">
  {{{ output.edit_switch }}}
</div>