{{#nodecollection}}
  {{#children}}
    {{> theme_albe/navbar_menu}}
  {{/children}}
{{/nodecollection}}
{{#nodearray}}
    {{> theme_albe/navbar_menu}}
{{/nodearray}}

{{#usermenu}}
  {{#unauthenticateduser}}
    {{#url}}
      <z-menu slot="menu">
        <a href="{{url}}">{{#str}} login, core {{/str}}</a>
      </z-menu>
    {{/url}}
  {{/unauthenticateduser}}
  {{^unauthenticateduser}}

  {{/unauthenticateduser}}
{{/usermenu}}

{{#output.edit_switch}}
  <div slot="menu">
    {{{ output.edit_switch }}}
  </div>
{{/output.edit_switch}}