{
	admin off
	local_certs
	skip_install_trust
	default_sni moodle
#	servers :443 {
#		metrics
#	}
}

#:9100 {
#	# Prometheus metrics
#	metrics /metrics
#}

https://localhost, https:// {
	root * /app/webroot

	encode gzip
	push

	header -Server

	file_server {
		hide .*
	}

	log {
		output stderr
		format json
		level INFO
		format filter {
			wrap json
			fields {
				request>headers>Authorization hash
				request>headers>Cookie delete
				resp_headers>Set-Cookie delete
			}
		}
	}

	php_fastcgi {$PHPFPM_HOST}
}
