body {
  font-family: var(--font-family-sans);
}

idp-login {
	position: fixed;
	top: 0;
	z-index: 21;
	height: auto !important;
}

idp-login + * {
	margin-top: 48px;
}

idp-login + header {
	box-shadow: var(--shadow-3);
}

zanichelli-footer {
	display: block;
	margin-top: calc(var(--grid-margin) * 2);
}

z-menu > a:hover {
  text-decoration: none;
}

z-menu > a.focus,
z-menu > a:not([class]):focus {
  background-color: transparent;
  box-shadow: none;
}

z-menu > a {
  color: var(--color-text01);
}

.btn {
  font-family: inherit;
}

#page.drawers {
  padding: var(--grid-margin);
  margin-top: 0;

  & .main-inner {
    padding: var(--grid-margin) 0;
    margin: 0;
    max-width: 100% !important;
  }

  & div[role="main"] {
    padding: 0;
  }

  & .header-maxwidth {
    padding: 0;
  }
}

idp-login :is(#divider-container, button#guestbutton) {
  display: none !important;
}